<%- include('../partials/header') %>

    <div class="container">
        <header>
            <h2>My Plants</h2>
        </header>
        <table>
            <thead>
                <tr>
                    <th>Plant Name</th>
                    <th>Nickname</th>
                    <th>Last Watered</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% plants.forEach(function(plant) { %>
                    <tr>
                        <td>
                            <%= plant.name %>
                        </td>
                        <td>
                            <%= plant.nickname || 'N/A' %>
                        </td>
                        <td>
                            <%= plant.wateredDate ? plant.wateredDate : 'N/A' %>
                        </td>
                        <td>
                            <form action="/plants/<%= plant._id %>/water" method="POST">
                                <input type="date" name="lastWateredDate" required>
                                <button type="submit">Update Date</button>
                            </form>
                        </td>
                        <td>
                            <a href="/plants/<%= plant._id %>">DETAILS</a>
                        </td>
                        <td>
                            <form action="/plants/<%= plant._id %>?_method=DELETE" method="POST"
                                onsubmit="return confirm('Are you sure?');">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                        <!-- <td>
                            <form action="/plants/<%= plant._id %>/water" method="POST">
                                <input type="hidden" name="_method" value="PUT">
                                <input type="date" name="lastWateredDate" required>
                                <button type="submit">Update Date</button>
                            </form>
                        </td> -->
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>


    <%- include('../partials/footer') %>