<%- include('../partials/header') %>

<div class="container">
    <h2>Plant Details</h2>
    <p><strong>Name:</strong> <%= plant.name %></p>
    <p><strong>Nickname:</strong> <%= plant.nickname || 'N/A' %></p>
    <p><strong>Last Watered:</strong> <%= plant.wateredDate ? plant.wateredDate.toDateString() : 'N/A' %></p>
    <p><strong>Date Purchased:</strong> <%= plant.datePurchased.toDateString() %></p>
</div>


<%- include('../partials/footer') %>