<%- include('../partials/header') %>

<div class="details-container">
    <div class="plant-details">
        <h2>Plant Details</h2>
        <p><strong>Name:</strong>&nbsp;<%= plant.name %></p>
        <p><strong>Nickname:</strong>&nbsp;<%= plant.nickname || 'N/A' %></p>
        <p><strong>Last Watered:</strong>&nbsp;<%= plant.wateredDate ? plant.wateredDate : 'N/A' %></p>
    </div>
    
    <div class="comments-section">
        <h2>Add Comments</h2>
        <form action="/plants/<%= plant._id %>/comments" method="POST" class="comment-form">
            <textarea name="text" rows="4" cols="50" class="comment-textarea"></textarea><br>
            <button type="submit" class="btn">Add Comment</button>
        </form>
        <h2>Comments</h2>
        <ul class="comments-list">
            <% plant.comments.forEach(comment => { %>
                <li class="comment-item"><%- comment.text ? comment.text.replace(/\n/g, '<br>') : 'No text provided' %></li>
            <% }) %>
        </ul>
    </div>
</div>

<%- include('../partials/footer') %>
